*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  background: #07152E;
  min-height: 100vh;
}

form{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

form input{
  padding: 10px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

.error{
  color: firebrick;
  min-height: 40px;
}